/*Jake A. Cole's styles.css file for jakeResumeSite*/

/*Used: color #00CCCC on 
https://color.adobe.com/create/color-wheel/ 
for color scheme*/

body {
	font-family: helvetica, arial;
	color: #ECECEC;

	background-color: #202020;
	/*Centers the webpage*/
	text-align: center;
}

header, section, footer { 
	/*Sets the dimensions of sections to ensure they are spaced correctly*/
	padding: 10px;
	min-width: 300px;
	max-width: 800px;
	/*Aligns the text left on the centered webpage*/
	margin: 0 auto;
	text-align: left;
}

nav {
	/*Sets the dimensions of the navigation bar*/
	width: 100%;
    height: 32px;
    min-width: 400px;

    /*Makes the Navigation bar somewhat transparent*/
    background-color: #111111; 
    opacity: 0.75;  

    /*Makes the Navigation bar fixed to the top of the screen*/
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
}

hr {
	/*Sets the color and width of the horizontal reference line*/
	border-color: #0BD964;
	width: 66%
}

ul {
	/*Allows for custom colored bullets*/
	list-style: none;
    padding:0;
    margin:0;
}


h1 {
	color: #0B6CD9;
	font-style: italic;
}

h2 {
	color: #0B6CD9;
	font-style: italic;
}

h4 {
	font-style: italic;
}


li:before{
	/*Colors custom bullets green*/
	content: "• ";
	color: #0BD964;
}

/*contactinfo and picture are displayed in 
the same row as long as there is enough space*/
#contact-info {
	min-width: 250px;
	max-width: 400px;
	display: inline-block;

	/*Allows for the contact information to float on the left side of the screen*/
	float: left;
}

#picture { 
	min-width: 200px;
	max-width: 400px;
	display: inline-block;

	/*Adds some padding above the picture to relocate it in an aesthetically pleasing location*/
	padding-top: 24px;

	/*Allows for the picture to float on the right side of the screen*/
	float: right;
}

#bio {
	/*Clears the float property so that the sections have proper format*/
	clear: both;
	min-width: 300px;
	max-width: 800px;
}

#picture img { 
	/*Adds a border around the picture*/
	border-radius:24px;
	border:6px solid #202020;
}

div.wrap {
	margin: 6px;
	display: inline-block;
}

/* Allows for the courses left and courses right to be displayed on one row*/
#courses-left { 
	display: inline-block;
	margin-right: 25%; 
}

#courses-right {  
	display: inline-block;
}

/*The links are colored to be easily viewed with the dark background I chose*/
a:link {
	color: #00CCCC;
    text-decoration: underline;
}

a:visited {
	color: #00CCCC;
    text-decoration: underline;
}

/*When a link is highlighted over or clicked, it glows white*/
a:hover {
	color: #ECECEC;
    text-decoration: underline;
}

a:active {
	color: #ECECEC;
    text-decoration: underline;
}

/*Adding mobile capability*/
@media screen and (max-width: 500px) {

	nav {
		font-size: 90%;
		text-align: left;
		padding-left: 8px;
	}
	
	#picture{
		padding-top: 6px;
		float: left;
	}
}
