/*Jake A. Cole's styles.css file for jakeResumeSite*/

/*Used: color #00CCCC on 
https://color.adobe.com/create/color-wheel/ 
for color scheme*/

body {
	color: #ECECEC !important;

	background-color: #202020 !important;
	/*Centers the webpage*/
	text-align: center;
}

section.row, footer { 
	/*Sets the dimensions of sections to ensure they are spaced correctly*/
	padding: 10px;
	min-width: 500px;
	max-width: 800px;
	/*Aligns the text left on the centered webpage*/
	margin: 0 auto;
	text-align: left;
}

nav {
	/*Sets the dimensions of the navigation bar*/
	width: 100%;
	min-width: 500px;

    /*Makes the Navigation bar somewhat transparent*/
    background-color: #111111 !important; 
    opacity: 0.75 !important;  

    /*Makes the Navigation bar fixed to the top of the screen*/
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    font-size: 150% !important;
}

hr {
	/*Sets the color and width of the horizontal reference line*/
	border-color: #0BD964 !important;
	width: 66%;
	padding-top: 32px;
}

ul {
	/*Allows for custom colored bullets*/
	list-style: none;
    padding: 0;
    margin: 0;
}


/*Added to render properly on a mobile device*/
h1 {
	font-size: 60px !important;
}

h1, h2, h4, p, ul, nav, div {
	font-family: 'Roboto', sans-serif;
}

h1, h2{
	color: #0B6CD9 !important;
	font-style: italic;
}

h4 {
	font-style: italic;
}

p, li {
	font-size: 18px;
}

li:before{
	/*Colors custom bullets green*/
	content: "• ";
	color: #0BD964 !important;
}

#name {
	display: inline-block;
	margin-top: 48px;
}

#picture { 
	display: inline-block;

	/*Adds some padding above the picture to relocate it in an aesthetically pleasing location*/
	margin-top: 48px;
}

#picture img { 
	/*Adds a border around the picture*/
	height: 150px !important;
	width: 150px !important;

	border-radius: 50%;
	border: 2px solid #0B6CD9 !important;
}

/*In-line Spacing for the navbar buttons*/
#button-list div {
	display: inline-block;
	margin-right: 20px;
}

/* Allows for the courses left and courses right to be displayed on one row*/
div.courses-left { 
	/*display: inline-block;*/
	float: left;
}

div.courses-right {  
	/*display: inline-block;*/
	float: left;
}

#unh-activities {
	clear: both;
}

/*The links are colored to be easily viewed with the dark background I chose*/
a:link, a:visited  {
	color: #00CCCC !important;
    text-decoration: underline;
}

/*When a link is highlighted over or clicked, it glows white*/
a:hover, a:active  {
	color: #ECECEC !important;
    text-decoration: underline;
}
