/*Jake A. Cole's styles.css file for jakeResumeSite*/
body {
	font-family: helvetica;
	color: #ECECEC;

	background-color: #202020;
	text-align: center;
}

div {
	/*Sets the dimensions of sections to ensure they are spaced correctly*/
	padding: 10px;
	min-width: 300px;
	max-width: 600px;
	margin: 0 auto;
	float: center;
	text-align: left;
}

#contactinfo {
	width: 45%;
	max-width: 300px;
	height: 200px;
	display: inline-block;
}

#picture { 
	width: 45%;
	max-width: 300px;
	height: 200px;
	display: inline-block;
}

#message {
	max-width: 600px;
}

#picture img { 
	/*Adds a border around the picture*/
	border-radius:5px;
	border:5px solid #111111;
}

#nav-bar {
	/*Sets the dimensions of the navigation bar*/
	width: 100%;
    height: 32px;
    min-width: 400px;

    /*Makes the Navigation bar somewhat transparent*/
    background-color: #111111; 
    opacity: 0.75;  

    /*Makes the Navigation bar fixed to the top of the screen*/
    position: fixed;
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
}

#nav-bar li {
	/*Allows for the navigation bar to have multiple items in a row spaced correctly*/
	display: inline-block;
	margin: 5px;
}

/* Allows for the courses left and courses right to be displayed on one row*/
#courses-left { 
	display: inline-block;
	margin-right: 10px; 
}

#courses-right {  
	display: inline-block;
}

/*The links are colored cyan to be easily viewed with the dark background I chose*/
a:link {
	color: #00CCCC;
    text-decoration: none;
}

a:visited {
	color: #00CCCC;
    text-decoration: none;
}

/*When a link is highlighted over or clicked, it glows white*/
a:hover {
	color: #ECECEC;
    text-decoration: underline;
}

a:active {
	color: #ECECEC;
    text-decoration: underline;
}

h1 {
	font-style: italic;
	text-decoration: underline;
}

h2 {
	font-style: italic;
	text-decoration: underline;
}

h4 {
	font-style: italic;
}
